.eventToast {
    position: fixed;
    top: 106px;
    left: 64px;
    width: 450px;
    z-index: 10;
    background-color: var(--color-dark-green-85);
    padding: 8px 12px 12px 12px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.eventToastContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    text-transform: uppercase;
}

.eventToastFooter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-color: var(--color-dark-navy);
}